body {
	padding-bottom: 80px;
}

.icon-media {
	width: 64px;
	height: 64px;
	font-size: 48px;
	line-height: 64px;
	text-align: center;
	text-decoration: none;
	color: #000;
}

.hero-unit .media-heading {
	line-height: $base-line-height * 2;
	font-size: $base-font-size * 1.75;
}

.media-heading + dl{
	margin-top: 0;
}

.info-box {
	padding: 8px;
	// From .img-polaroid
	background-color: #fff;
	border: 1px solid #ccc;
	border: 1px solid rgba(0,0,0,.2);
	@include box-shadow(0 1px 3px rgba(0,0,0,.1));
	margin-bottom: $base-line-height;

	&.pull-right{
		margin-left: $base-line-height;
	}
}
