body {
	padding-bottom: 80px;
}

.icon-media {
	width: 64px;
	height: 64px;
	font-size: 48px;
	line-height: 64px;
	text-align: center;
	text-decoration: none;
	color: #000;
}

.hero-unit .media-heading {
	line-height: $base-line-height * 2;
	font-size: $base-font-size * 1.75;
}

.media-heading + dl{
	margin-top: 0;
}

.img-banner{
	margin-top: -19px;

    @media (min-width: $screen-sm) {
    	width: 100%;
	}

	@media(max-width: $screen-xs-max) {
		height: 190px;
		position: relative;
		left: -50%;
	}
}

.img-banner-wrapper{
	@media(max-width: $screen-xs-max) {
		position: relative;
		left: 50%;
		display: inline-block;
	}
}
