{# expects a venue and (optionally) include_time #}
{% with weeks=venue.get_weeks %}
    {% if weeks|length == 5 %}
    Every {{ venue.get_weekday_display }}{% else %}
    {% filter capfirst %}{% for week in weeks %}{% if forloop.last and not forloop.first %} and {% endif %}{{ week|lower }}{% if weeks|length > 2 and not forloop.last %}, {% endif %}{% endfor %}
    {% endfilter %}
    {{ venue.get_weekday_display }}{{ weeks|pluralize }}{% endif %}{% if include_time and venue.start and venue.end %},
    <time datetime="{{ venue.start|date:'H:i' }}">{{ venue.start|date:'g:i a' }}</time> – <time datetime="{{ venue.end|date:'H:i' }}">{{ venue.end|date:'g:i a' }}</time>{% else %}{% endif %}
{% endwith %}
