{% extends "stepping_out/__base.html" %}

{% load url from future %}

{% block main %}
  {# put 'about' in info box and just have feed on the left. #}
  {% include 'stepping_out/_banner.html' with banner=scheduled_dance.banner %}

  <div class='pull-right info-box'>
    <h3>{% include 'stepping_out/scheduleddance/_schedule.html' with scheduled_dance=scheduled_dance only %}</h3>
    <dl>
      {% with lessons=scheduled_dance.scheduled_lessons.all %}
        {% if lessons %}
          {% for lesson in lessons %}
            <dt>{{ lesson.name }}</dt>
            <dd>{% include "stepping_out/_times.html" with start=lesson.start end=lesson.end %}</dd>
            <dd>{% include "stepping_out/_prices.html" with object=lesson %}{% if lesson.dance_included %}<small class='muted'> &middot; Dance included</small>{% endif %}</dd>
          {% endfor %}
        {% endif %}
      {% endwith %}

      <dt>Dance</dt>
      <dd>{% include 'stepping_out/_times.html' with start=scheduled_dance.start end=scheduled_dance.end datetime_format='H:i' only %}</dd>
      <dd>{% include 'stepping_out/_prices.html' %}</dd>
    </dl>
    {% with venue=scheduled_dance.venue %}
      <h4>
        <a href="{{ venue.get_absolute_url }}">{{ venue.name }}</a>
      {% if venue.website %}<small>({{ venue.website|urlize }})</small>{% endif %}
      </h4>
      {% include "stepping_out/_venue_map.html" with venue=venue only %}
    {% endwith %}
  </div>

  <h1>{{ scheduled_dance.name }}{% if scheduled_dance.website %} <small>{{ scheduled_dance.website|urlize }}</small>{% endif %}</h1>

  {% include 'stepping_out/dance/_list_grouped.html' %}
{% endblock %}
