{% load url from future %}

{% with lessons=dance.lessons.all %}
  <ul class="nav nav-tabs">
    {% for lesson in lessons %}
      <li><a href="#{{ dance.pk }}-{{ lesson.pk }}" data-toggle="tab">{{ lesson.name }}</a></li>
    {% endfor %}
    <li class='active'><a href="#{{ dance.pk }}" data-toggle="tab">Dance</a></li>
  </ul>

  <div class='tab-content'>
    {% for lesson in lessons %}
      <div class='tab-pane' id="{{ dance.pk }}-{{ lesson.pk }}">
        {% include "stepping_out/dance/_time_price_description.html" with object=lesson only %}
        {% with teachers=lesson.teachers.all %}
          {% if teachers %}
            <div class='row'>
              <div class='col-md-1'>
                <p><strong>Teachers</strong></p>
              </div>
              <div class='col-md-4'>
                {% include "stepping_out/_people.html" with people=teachers only %}
              </div>
            </div>
          {% endif %}
        {% endwith %}
      </div>
    {% endfor %}
    <div class='tab-pane active' id="{{ dance.pk }}">
      {% include "stepping_out/dance/_time_price_description.html" with object=dance only %}
      {% with hosts=dance.hosts.all %}
        {% if hosts %}
          <div class='row'>
            <div class='col-md-1'>
              <p><strong>Hosts</strong></p>
            </div>
            <div class='col-md-4'>
              {% include "stepping_out/_people.html" with people=hosts only %}
            </div>
          </div>
        {% endif %}
      {% endwith %}
      {% with djs=dance.djs.all %}
        {% if djs %}
          <div class='row'>
            <div class='col-md-1'>
              <p><strong>DJs</strong></p>
            </div>
            <div class='col-md-4'>
              {% include "stepping_out/_people.html" with people=djs only %}
            </div>
          </div>
        {% endif %}
      {% endwith %}
      {% with live_acts=dance.live_acts.all %}
        {% if live_acts %}
          <div class='row'>
            <div class='col-md-1'>
              <p><strong>Live Acts</strong></p>
            </div>
            <div class='col-md-4'>
              {% include "stepping_out/_people.html" with people=live_acts only %}
            </div>
          </div>
        {% endif %}
      {% endwith %}
    </div>
  </div>
{% endwith %}