{% extends "stepping_out/__base.html" %}

{% load url from future %}{% load humanize markup daguerre %}

{% block main %}
  {% adjust dance.banner 'fill' width=1200 height=300 as image %}
  {% if image %}
    <img src="{{ image }}" width={{ image.width }} height={{ image.height }} />
  {% endif %}

  {% if dance.venue %}
    <div class='pull-right map'>
      {% include "stepping_out/_venue_map.html" with venue=dance.venue only %}
      <h4>
        <a href="{% url 'stepping_out_venue_detail' pk=dance.venue.pk slug=dance.venue.name|slugify %}">{{ dance.venue.name }}</a>
      {% if dance.venue.website %}<small>({{ dance.venue.website|urlize }})</small>{% endif %}
      </h4>
    </div>
  {% endif %}

  <h1>{{ dance.name }}{% if dance.tagline %} <small>{{ dance.tagline }}</small>{% endif %}</h1>

  <dl>
    <dd><time datetime="{{ dance.start|date:'c' }}" title="{{ dance.start|date:'F jS, Y' }}" data-placement="right">{{ dance.start|naturalday:"l"|capfirst }}</time>, {% include "stepping_out/_times.html" with start=dance.start end=dance.end %}</dd>
    <dd>{% include "stepping_out/_prices.html" with object=dance %}</dd>
  </dl>

  {% with hosts=dance.hosts.all %}
    {% if hosts %}
      <ul class='inline'>
        <li><strong>Host{{ hosts|length|pluralize }}</strong></li>
        {% for host in hosts %}
          <li>{% include "stepping_out/_person.html" with person=host only %}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}

  {{ dance.description|markdown }}

  {% with lessons=dance.lessons.all %}
    {% for lesson in lessons %}
      {% with teachers=lesson.teachers.all %}
          <h3>{{ lesson.name }}</h3>
          <dl>
            <dd>{% include "stepping_out/_times.html" with start=lesson.start end=lesson.end %}</dd>
            <dd>{% include "stepping_out/_prices.html" with object=lesson %}{% if lesson.dance_included %}<small class='muted'> &middot; Dance included</small>{% endif %}</dd>
          </dl>
          {% if teachers %}
            <ul class='inline'>
              <li><strong>Teacher{{ teachers|length|pluralize }}</strong></li>
              {% for teacher in teachers %}
                <li>{% include "stepping_out/_person.html" with person=teacher only %}</li>
              {% endfor %}
            </ul>
          {% endif %}
          {{ lesson.description|markdown }}
      {% endwith %}
    {% endfor %}
  {% endwith %}

  {% with djs=dance.dancedj_set.all %}
    {% if djs %}
      <h3>DJs</h3>
      <table class='table'>
        <tbody>
        {% for dj in djs %}
          <tr>
            <th>DJ {% include "stepping_out/_person.html" with person=dj.person only %}</th>
            <td>{% if dj.start and dj.end %}<span class="muted">{% include "stepping_out/_times.html" with start=dj.start end=dj.end %}</span>{% endif %}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    {% endif %}
  {% endwith %}
{% endblock %}
