{% extends "stepping_out/__base.html" %}

{% load url from future %}

{% block main %}
  {% for day, dances in dances_grouped %}
    {% if day == today %}
      <div class='hero-unit'>
        <h1>Today</h1>
        {% for dance in dances %}
          {% include "stepping_out/dance/_leadin.html" with date=0 %}
        {% endfor %}
      </div>
    {% else %}
      {% for dance in dances %}
        {% include "stepping_out/dance/_leadin.html" with date=1 %}
      {% endfor %}
    {% endif %}
  {% endfor %}
{% endblock %}
