{% extends "stepping_out/__base.html" %}

{% load url from future %}

{% block main %}
  {% for day, dances in dances_grouped %}
    {% if day == today %}
      <div class='hero-unit'>
        <h1>Today</h1>
        {% for dance in dances %}
          {% include "stepping_out/dance/_leadin.html" %}
        {% endfor %}
      </div>
    {% else %}
      {% if forloop.first and day != today or forloop.counter == 2 %}
        <h2>This week</h2>
      {% endif %}
      <div class="row">
        <div class="span2">
          <h2>{{ day|date:"l" }} <br /> <small>{{ day|date:"F jS" }}</small></h2>
        </div>
        <div class="span10">
          {% for dance in dances %}
            {% include "stepping_out/dance/_leadin.html" %}
          {% endfor %}
        </div>
      </div>
    {% endif %}
  {% endfor %}
{% endblock %}
