{# expects objects (with .image and .name attributes) and (optionally) width. #}
{% load daguerre %}
{% if people %}
<div class='row-fluid'>
  <ul class="thumbnails">
    {% for person in people %}
      {% adjust person.image 'fill' width=208 height=208 as image %}
      {% with stats=person.get_recent_activity_stats %}
        <li class='col-md-4'>
            <a class="thumbnail" href="{{ person.get_absolute_url }}">
                <img src="{{ image }}" />
            </a>
            <h4><a href="{{ person.get_absolute_url }}">{{ person.name }}</a></h4>
        </li>
      {% endwith %}
    {% endfor %}
  </ul>
</div>
{% endif %}
