{% extends "stepping_out/__base.html" %}

{% load url from future %}

{% block main %}
  <h1>This week's dances</h1>
  {% for day, dances in dances_grouped.iteritems %}
    <div class="row">
      <div class="span2">
        <h2>{{ day|date:"l" }} <br /> <small>{{ day|date:"F jS" }}</small></h2>
      </div>
      <div class="span10">
        {% for dance in dances %}
          <h3>{{ dance.name }} <small><a class="btn-link" data-target=".{{ dance.pk }}-details" data-toggle="collapse">Details{% if dance.venue %}/Map{% endif %} <i class='icon-caret-down'></i></a></small></h3>
          <div class="row">
            <div class="span5 collapse {{ dance.pk }}-details">
              <p>
                {% if dance.scheduled_dance %}
                  <a href="{% url 'stepping_out_scheduled_dance_detail' slug=dance.scheduled_dance.slug %}">{% if dance.name != dance.scheduled_dance.name %}{{ dance.scheduled_dance.name }}. {% endif %}{% include 'stepping_out/_schedule.html' with scheduled_dance=dance.scheduled_dance only %}</a>
                  {% if dance.scheduled_dance.website %}
                    {% if dance.scheduled_dance.website %}{{ dance.scheduled_dance.website|urlize }}{% endif %}
                  {% endif %}
                {% endif %}
              </p>

              {% with lessons=dance.lessons.all %}
                <ul class="nav nav-tabs">
                  {% for lesson in lessons %}
                    <li><a href="#{{ dance.pk }}-{{ lesson.pk }}" data-toggle="pill">{{ lesson.name }}</a></li>
                  {% endfor %}
                  <li class='active'><a href="#{{ dance.pk }}" data-toggle="pill">Dance</a></li>
                </ul>

                <div class='tab-content'>
                  {% for lesson in lessons %}
                    <div class='tab-pane' id="{{ dance.pk }}-{{ lesson.pk }}">
                      {% include "stepping_out/_time_price_description.html" with object=lesson only %}
                      {% with teachers=lesson.teachers.all %}
                        {% if teachers %}
                          <div class='row'>
                            <div class='span1'>
                              <p><strong>Teachers</strong></p>
                            </div>
                            <div class='span4'>
                              {% include "stepping_out/_people.html" with people=teachers only %}
                            </div>
                          </div>
                        {% endif %}
                      {% endwith %}
                    </div>
                  {% endfor %}
                  <div class='tab-pane active' id="{{ dance.pk }}">
                    {% include "stepping_out/_time_price_description.html" with object=dance only %}
                    {% with hosts=dance.hosts.all %}
                      {% if hosts %}
                        <div class='row'>
                          <div class='span1'>
                            <p><strong>Hosts</strong></p>
                          </div>
                          <div class='span4'>
                            {% include "stepping_out/_people.html" with people=hosts only %}
                          </div>
                        </div>
                      {% endif %}
                    {% endwith %}
                    {% with djs=dance.djs.all %}
                      {% if djs %}
                        <div class='row'>
                          <div class='span1'>
                            <p><strong>DJs</strong></p>
                          </div>
                          <div class='span4'>
                            {% include "stepping_out/_people.html" with people=djs only %}
                          </div>
                        </div>
                      {% endif %}
                    {% endwith %}
                    {% with live_acts=dance.live_acts.all %}
                      {% if live_acts %}
                        <div class='row'>
                          <div class='span1'>
                            <p><strong>Live Acts</strong></p>
                          </div>
                          <div class='span4'>
                            {% include "stepping_out/_people.html" with people=live_acts only %}
                          </div>
                        </div>
                      {% endif %}
                    {% endwith %}
                  </div>
                </div>
              {% endwith %}
            </div>
            <div class="span5">
              <div class="row collapse {{ dance.pk }}-details">
                {% if dance.venue %}
                  {% include "stepping_out/_venue_map.html" with venue=dance.venue only %}
                  <h4>
                    <a href="{% url 'stepping_out_venue_detail' slug=dance.venue.slug %}">{{ dance.venue.name }}</a>
                  {% if dance.venue.website %}<small>({{ dance.venue.website|urlize }})</small>{% endif %}
                  </h4>
                {% endif %}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  {% endfor %}
{% endblock %}
