{% extends "stepping_out/__base.html" %}

{% block main %}
    {% for dance in scheduled_dances %}
        <h3>{{ dance.name }} {% if dance.venue %}<small>{{ dance.venue.name }}</small>{% endif %}</h3>
        {% with weeks=dance.get_weeks %}
            <h4>
                {% if weeks|length == 5 %}
                    Weekly on {{ dance.get_weekday_display }}
                {% else %}
                    {% filter capfirst %}{% for week in weeks %}{% if forloop.last and not forloop.first %} and {% endif %}{{ week|lower }}{% if weeks|length > 2 and not forloop.last %}, {% endif %}{% endfor %}
                    {% endfilter %}
                    {{ dance.get_weekday_display }}{{ weeks|pluralize }}
                {% endif %}
            </h4>
        {% endwith %}
    {% endfor %}
{% endblock %}
