{% extends "stepping_out/__base.html" %}

{% load url from future %}{% load daguerre %}

{% block main %}
  {% include 'stepping_out/_banner.html' with banner=location.banner %}

  <div class='pull-right info-box'>
    <h3>{% if location.neighborhood %}{{ location.neighborhood }}, {% endif %}{{ location.city }}, {{ location.state }}</h3>
    {% include "stepping_out/_location_map.html" with location=location only %}
    {% with scheduled_dances=location.scheduled_dances.all %}
      {% for scheduled_dance in scheduled_dances %}
        <h4><a href='{{ scheduled_dance.get_absolute_url }}'>{{ scheduled_dance.name }}, {% include 'stepping_out/scheduleddance/_schedule.html' with scheduled_dance=scheduled_dance %}</a></h4>
      {% endfor %}
    {% endwith %}
  </div>

  <h1>{{ location.name }}{% if location.website %} <small>{{ location.website|urlize }}</small>{% endif %}</h1>

  {% for day, dances in dances_grouped %}
    {% adjust_bulk dances 'banner' 'fill' width=64 height=64 as adjusted %}
    {% if day == today %}
      {% adjust_bulk dances 'banner' 'fill' width=128 height=128 as adjusted %}
      <div class='hero-unit'>
        <h1>Today</h1>
        {% for dance, image in adjusted %}
          {% include "stepping_out/dance/_leadin.html" with date=0 %}
        {% endfor %}
      </div>
    {% else %}
      {% adjust_bulk dances 'banner' 'fill' width=64 height=64 as adjusted %}
      {% for dance, image in adjusted %}
        {% include "stepping_out/dance/_leadin.html" with date=1 %}
      {% endfor %}
    {% endif %}
  {% endfor %}

{% endblock %}
