{% extends "stepping_out/__base.html" %}

{% load daguerre markup %}
{% load url from future %}

{% block main %}
  <div class="row">
    <div class="span3">
      {% if person.image %}
        <img class='img-polaroid' src="{% adjust person.image 'fill' width=270 max_height=400 %}" />
      {% endif %}
    </div>
    <div class="span9">
      <h1>{{ person.name }}</h1>
      {% if person.bio %}
        <h2>Bio</h2>
        {{ person.bio|markdown }}
      {% endif %}
      {% with activity=person.get_recent_activity %}
        <h2>Recent Activity</h2>
        <ul>
          {% for dance, roles in activity %}
            <li>{% filter capfirst %}{% for role in roles %}{% if forloop.last and not forloop.first %} and {% endif %}{{ role }}{% if not forloop.last and roles|length > 2 %}, {% endif %}{% endfor %}{% endfilter %} <a href="{{ dance.get_absolute_url }}">{{ dance.name }}</a> on {{ dance.start|date:"F jS" }}</li>
          {% endfor %}
        </ul>
      {% endwith %}
    </div>
  </div>
{% endblock %}