{% extends "stepping_out/__base.html" %}

{% load url from future %}

{% block main %}
    <h3>{{ venue.name }}</h3>
    {% if venue.website %}<h4>{{ venue.website|urlize }}</h4>{% endif %}
    {% include "stepping_out/_venue_map.html" %}

    <h4>Dances</h4>
    {% for dance in venue.scheduled_dances.all %}
        <h5><a href="{% url 'stepping_out_scheduled_dance_detail' pk=dance.pk slug=dance.name|slugify %}">{{ dance.name }}</a>
            <small>
                {% with weeks=dance.get_weeks %}
                    {% if weeks|length == 5 %}
                        Every {{ dance.get_weekday_display }}
                    {% else %}
                        {% filter capfirst %}{% for week in weeks %}{% if forloop.last and not forloop.first %} and {% endif %}{{ week|lower }}{% if weeks|length > 2 and not forloop.last %}, {% endif %}{% endfor %}
                        {% endfilter %}
                        {{ dance.get_weekday_display }}{{ weeks|pluralize }}
                    {% endif %}
                {% endwith %}
                {% if dance.start and dance.end %}
                    from <time datetime="{{ dance.start|date:'H:i' }}">{{ dance.start|date:'g:i a' }}</time> to <time datetime="{{ dance.end|date:'H:i' }}">{{ dance.end|date:'g:i a' }}</time>
                {% endif %}
            </small>
        </h5>
    {% endfor %}
{% endblock %}
