{% load flatpages %}
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class='navbar-header'>
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-header-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">{{ site.name|default:"Stepping Out" }}</a>
    </div>
    <div class="collapse navbar-collapse navbar-header-collapse">
      <ul class="nav navbar-nav">
        {% get_flatpages as flatpages %}
        {% for page in flatpages %}
          {% include "djam/_nav_item.html" with url=page.url text=page.title %}
        {% endfor %}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% if not user.is_authenticated %}
          {% url 'djam:auth:login' as url %}
          {% include "djam/_nav_item.html" with url=url text="Login" %}
        {% else %}
          <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class='icon-user'></i> {{ user.username }} <b class="caret"></b></a>
          <ul class="dropdown-menu">
            {% if user.is_staff %}
              {% url 'djam:dashboard:dashboard' as url %}
              {% include "djam/_nav_item.html" with url=url text="Admin" %}
            {% endif %}
            {% url 'djam:auth:password-change' as url %}
            {% include "djam/_nav_item.html" with url=url text="Change Password" %}
            {% url 'djam:auth:logout' as url %}
            {% include "djam/_nav_item.html" with url=url text="Logout" %}
          </ul>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</div>
