body { padding-bottom: 80px; }

time[title] { border-bottom: 1px dotted #999; }

.icon-media { width: 64px; height: 64px; font-size: 48px; line-height: 64px; text-align: center; text-decoration: none; color: #000; }

.hero-unit .media-heading { line-height: 48px; font-size: 28px; }

.media-heading + dl { margin-top: 0; }

.img-banner { margin-top: -19px; }
@media (min-width: 768px) { .img-banner { width: 100%; } }
@media (max-width: 767px) { .img-banner { height: 190px; position: relative; left: -50%; } }

@media (max-width: 767px) { .img-banner-wrapper { position: relative; left: 50%; display: inline-block; } }
