{% load daguerre humanize %}

<div class='media'>
  <a class='pull-left' href="{{ event.get_absolute_url }}">
    {% if image %}
      <img src="{{ image }}" width={{ image.width }} height={{ image.height }} />
    {% else %}
      <i class='icon-music icon-media'></i>
    {% endif %}
  </a>

  <div class='media-body'>
    <h4 class='media-heading'>
      {% if event.is_canceled %}
        <i class='fa fa-ban text-danger' title='Canceled'></i>
      {% endif %}
      <a {% if event.is_canceled %}class="text-danger" {% endif %}href="{{ event.get_absolute_url }}">{{ event.name }}{% if event.tagline %} <small {% if event.is_canceled %}class="text-danger"{% endif %}>{{ event.tagline }}</small>{% elif event.is_canceled %} <small class="text-danger">Canceled</small>{% endif %}</a>
    </h4>

    {% if event.is_canceled %}
      <dl class='text-muted'>
        <dd>{% if date %}<time datetime="{{ event.start|date:'c' }}" title="{{ event.start|date:'F jS, Y' }}" data-placement="right">{{ event.start|naturalday:"l"|capfirst }}</time>, {% endif %}{% include "stepping_out/_times.html" with start=event.start end=event.end %}</dd>
        <dd>{% if event.location.neighborhood %}{{ event.location.neighborhood }}, {% endif %}{{ event.location.city }}, {{ event.location.state }}</dd>
      </dl>
      <div class='text-danger'>
        {{ event.description }}
      </div>
    {% else %}
      <dl>
        <dd>{% if date %}<time datetime="{{ event.start|date:'c' }}" title="{{ event.start|date:'F jS, Y' }}" data-placement="right">{{ event.start|naturalday:"l"|capfirst }}</time>, {% endif %}{% include "stepping_out/_times.html" with start=event.start end=event.end %}</dd>
        <dd>{% if event.location.neighborhood %}{{ event.location.neighborhood }}, {% endif %}{{ event.location.city }}, {{ event.location.state }}</dd>
        <dd>{% include "stepping_out/_prices.html" with object=event %}</dd>
      </dl>

      {% with lessons=event.lessons.all %}
        {% if lessons %}
          <dl>
            {% for lesson in lessons %}
              <dt>{{ lesson.name }}</dt>
              <dd>{% include "stepping_out/_times.html" with start=lesson.start end=lesson.end %}</dd>
              <dd>{% include "stepping_out/_prices.html" with object=lesson %}{% if lesson.event_included %}<small class='muted'> &middot; Dance included</small>{% endif %}</dd>
            {% endfor %}
          </dl>
        {% endif %}
      {% endwith %}
    {% endif %}
  </div>
</div>
